@using StocksApp.Models;

@model StockTrade;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Title</title>
    <link rel="stylesheet.css" href="~/StyleSheet.css">
    
</head>
<body>

    <h1>@Model.StockName</h1>
    <h2>@Model.StockSymbol</h2>

    <h3 id="stock-price-panel">@Model.Price</h3>

        <input type="hidden" id="StockTicker" name="StockTicker" value="@Model.StockSymbol" />


</body>

<script src="~/Scripts/CurrentPriceRetrieval.js">
        

    
</script>
</html>
